<footer class="site-footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget">
                    <h3>Contacto</h3>
                    <address>San Jose, Costa Rica</address>
                    <ul class="list-unstyled links">
                        <li class="list-inline-item">+506 8469 2723</li>
                        <li class="list-inline-item"><a href="mailto:example@gmail.com">example@gmail.com</a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Secciones</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled float-start links">
                                <li><a href="@Url.Action("Index", "Dashboard")">Sobre Nosotros</a></li>
                                <li><a href="@Url.Action("LoginEmployee", "Employee")">Gestiones</a></li>
                                <li><a href="@Url.Action("ViewProperties", "Properties")">Propiedades</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled float-start links">
                                <li><a href="@Url.Action("FrequentQuestions", "News")">Preguntas Frecuentes</a></li>
                                <li><a href="@Url.Action("Prequalification", "Prequalification")">Precalificación</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Redes Sociales</h3>
                    <ul class="list-inline social">
                        <li class="list-inline-item"><a href="https://www.instagram.com/aa_asesores_inmobiliarios/" target="_blank"><span class="fa fa-instagram"></span></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/share/T45MY2bms7EUkMfT/?mibextid=qi2Omg" target="_blank"><span class="fa fa-facebook"></span></a></li>
                        <li class="list-inline-item"><a href="https://wa.me/50688490186" target="_blank"><span class="fa fa-whatsapp"></span></a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
        </div> <!-- /.row -->
    </div>
</footer>
