@model List<A_AAsesoresWeb.Entities.PropertyEnt>

@{
    ViewBag.Title = "ListProperties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- DataTables -->
<link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="page-title-box">
                <div class="d-flex justify-content-start align-items-center my-3">
                    <div class="mr-2">
                        <div class="round">
                            <i class="fa fa-home"></i>
                        </div>
                    </div>
                    <div>
                        <h3 class="mt-0 mb-0">Administrar Propiedades</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-end align-items-center my-3" style="float: right;">
                <a href="@Url.Action("ViewProperties", "Properties")" class="btn btn-secondary waves-effect m-l-5" style="margin-right: 3px;">Volver</a>
                <a href="@Url.Action("AddProperty", "Properties")" class="btn btn-primary waves-effect m-l-5" style="margin-right: 3px;">Agregar una propiedad</a>
            </div>
        </div>
    </div>
    @if (ViewBag.MensajeUsuario != null)
    {
        <div style="justify-content: center !important;">
            <h5>@ViewBag.MensajeUsuario</h5>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatable-buttons" class="table table-bordered table-striped mb-0" style="width: 100%;">
                                <thead>
                                    <tr style="text-align:center;">
                                        <th>Título</th>
                                        <th>Empleado</th>
                                        <th>Ubicación</th>
                                        <th>Precio</th>
                                        <th>Tipo de propiedad</th>
                                        <th>Tipo de transacción</th>
                                        <th>m² de terreno</th>
                                        <th>m² de construcción</th>
                                        <th>Fecha de creación</th>
                                        <th>Estado</th>
                                        <th>Multimedia</th>
                                        <th>Mantenimiento</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr style="text-align:center;">
                                            <td>@item.Title</td>
                                            <td>@item.EmployeeName</td>
                                            <td>@item.FullAddress</td>
                                            <td>
                                                @if (item.Currency == 1)
                                                {
                                                    @:&#8353;@item.Price.ToString("N0")
                                                }
                                                else
                                                {
                                                    @:@item.Symbol@item.Price.ToString("N0")
                                                }
                                            </td>

                                            <td>@item.PropertyTypeName</td>
                                            <td>@item.TransactionTypeName</td>
                                            <td>@item.AreaLand.ToString("N0")</td>
                                            <td>@item.AreaBuild.ToString("N0")</td>
                                            <td>@item.CreationDate</td>
                                            <td style="text-align:center; background-color: @(item.PropertyStatus == 1 ? "#d4edda" : "#fff3cd")">
                                                @item.PropertyStatusName
                                            </td>
                                            <td>
                                                <a href="@Url.Action("ViewPropertyImages", "Properties", new { q = item.Id })"><i class="btn btn-success fa fa-file-image-o" data-toggle="tooltip" data-placement="top" title="Ver imágenes"></i></a>
                                                <a href="@Url.Action("ViewPropertyDocs", "Properties", new { q = item.Id })"><i class="btn btn-success fa fa-file" data-toggle="tooltip" data-placement="top" title="Ver documentos"></i></a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("ChangePropertyState", "Properties", new { q = item.Id })"><i class="btn btn-info fa fa-arrows-h" data-toggle="tooltip" data-placement="top" title="Cambiar estado"></i></a>
                                                <a href="@Url.Action("UpdateProperty", "Properties", new { q = item.Id })"><i class="btn btn-secondary fa fa-edit" data-toggle="tooltip" data-placement="top" title="Editar propiedad"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section scripts{
    <!-- DataTables CSS -->
    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- DataTables JS -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <!-- DataTables Responsive -->
    <link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <link href="~/assets/custom/css/DatatableIcons.css" rel="stylesheet" />

    <!-- DataTables Init -->
    <script>
        $(document).ready(function () {
            // Inicializamos la tabla principal
            var table = $('#datatable-buttons').DataTable({
                responsive: true,
                dom: '<"row"<"col-sm-6"B><"col-sm-6"f>>rtip',
                buttons: [
                    {
                        extend: 'copy',
                        text: 'Copiar'
                    },
                    {
                        extend: 'csv',
                        text: 'CSV'
                    },
                    {
                        extend: 'excel',
                        text: 'Excel'
                    },
                    {
                        extend: 'pdf',
                        text: 'PDF'
                    },
                    {
                        extend: 'print',
                        text: 'Imprimir'
                    },
                ],
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
                }
            });
        });
    </script>
}

