@model A_AAsesoresWeb.Entities.EmployeeEnt
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page" style="
    margin: 1.5% auto;">

    <div class="card">
        <div class="card-body">

            <h3 class="text-center mt-0 m-b-15">
                <a href="@Url.Action("Index", "Dashboard")" class="logo">
                    <img src="~/assets/images/logo-sm.png" alt="" height="55" class="logo-large">
                    <img src="~/assets/images/A&A Asesores.png" alt="" height="40" class="logo-large">
                </a>
            </h3>

            <div class="p-3">
                @using (Html.BeginForm("ChangePassword", "Employee", FormMethod.Post, new { id = "employeeForm", data_parsley_validate = "true" }))
                {
                    @Html.HiddenFor(m => m.Email)
                    @Html.HiddenFor(m => m.Name)
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label data-toggle="tooltip" data-placement="top" title="Ingresa el número de identificación del empleado. Utiliza el formato XX-XXXX-XXXX.">Número de identificación. <i class="fa fa-info-circle fa-1x"></i></label>
                            @Html.TextBoxFor(m => m.Identification, new { @class = "form-control", @type = "text", @readonly = "readonly", @placeholder = "00-0000-0000", @style = "font-size:14px;", @data_parsley_required = "true", @data_parsley_pattern = "\\d{2}-\\d{4}-\\d{4}", @data_parsley_error_message = "Por favor, ingrese el número de identificación." })
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-12">

                            <label data-toggle="tooltip" data-placement="top" title="Ingrese su contraseña nueva contraseña.">Nueva Contraseña. <i class="fa fa-info-circle fa-1x"></i></label>
                            @Html.TextBoxFor(m => m.Password, new
                            {
                                @class = "form-control",
                                @type = "password",
                                @placeholder = "Contraseña",
                                @style = "font-size:14px;",
                                @data_parsley_required = "true",
                                @data_parsley_error_message = "La contraseña debe contener al menos una letra mayúscula, una letra minúscula, un número y un carácter especial y tener una longitud de 8 a 15 caracteres.",
                                @data_parsley_pattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[^\\da-zA-Z]).{8,15}$" })
                            <span class="text-danger" id="Password-error"></span>                            <span class="text-danger" id="Password-error"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label data-toggle="tooltip" data-placement="top" title="Confirme su contraseña.">Confirmar Contraseña <i class="fa fa-info-circle fa-1x"></i></label>
                            <input id="ConfirmPassword" class="form-control" type="password" placeholder="Confirmar Contraseña" style="font-size:14px;" data-parsley-required="true" data-parsley-equalto="#Password" data-parsley-error-message="Las contraseñas no coinciden." />
                            <span class="text-danger" id="ConfirmPassword-error"></span>
                        </div>
                    </div>
                    <div class="form-group text-center row m-t-20">
                        <div class="col-12">
                            <input type="submit" class="btn btn-primary waves-light" value="Cambiar Contraseña">
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
@section scripts {
    <!-- App js -->
    <script src="~/Utilities/LoginForm-Validation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/assets/js/app.js"></script>

    <script>
        $('#Identification').mask('00-0000-0000-0000');
        $('#employeeForm').parsley();
        $(document).ready(function () {
            $('#Form').submit(function () {
                var password = $('#Password').val();
                var confirmPassword = $('#ConfirmPassword').val();
                if (password !== confirmPassword) {
                    $('#ConfirmPassword-error').text('Las contraseñas no coinciden.');
                    return false;
                }
                return true;
            });

            // Envío del formulario a través de AJAX
            $('#employeeForm').submit(function (event) {
                event.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: formData,
                    processData: false, // No procesar los datos
                    contentType: false,
                    success: function (response) {
                        var responseParts = response.message.split("|");
                        if (response.success) {
                            Swal.fire({
                                title: 'Éxito',
                                text: responseParts[0],
                                icon: responseParts[1],
                                confirmButtonText: 'Aceptar',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '@Url.Action("Index", "Dashboard")';
                                }
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: responseParts[0],
                                icon: responseParts[1],
                                confirmButtonText: 'Aceptar',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            title: 'Error',
                            text: 'Error al agregar la pregunta.',
                            icon: 'error',
                            confirmButtonText: 'Aceptar',
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        });
                    }
                });
            });
        });
    </script>
}
