@model A_AAsesoresWeb.Entities.TransactionTypeEnt

@{
    ViewBag.Title = "Actualizar Estado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["notification"] != null)
{
    <div class="alert alert-@(TempData["notificationType"])">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        @TempData["notification"]
    </div>
}

<div class="container-fluid">
    <!-- Page-Title -->
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
                            <li class="breadcrumb-item active">Actualizar</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mx-auto m-b-30">
                <div class="card-body">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center my-3">
                            <div class="text-center mr-2">
                                <div class="round">
                                    <i class="fa fa-edit"></i>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3 class="mt-0 mb-0">Actualizar Tipo de Transacciones</h3>
                            </div>
                        </div>
                        @using (Html.BeginForm("UpdateTransactionType", "Maintenance", FormMethod.Post, new { @class = "bg-white p-5 contact-form", @enctype = "multipart/form-data", id = "MaintenanceForm", data_parsley_validate = "" }))
                        {
                            @Html.HiddenFor(m => m.Id)

                            <div class="form-group">
                                <label for="Maintenance_Name">Nombre del tipo de transaccion:</label>
                                @Html.TextBoxFor(m => m.Type, new { @class = "form-control", @placeholder = "Ingrese el nombre de la transaccion", id = "Maintenance_Name" })
                                <span class="text-danger" id="Maintenance_Name-error"></span>
                            </div>

                            <div class="form-group">
                                <label for="Maintenance_Description">Descripción de la transaccion:</label>
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "5", @placeholder = "Ingrese la descripción de la transaccion", id = "Maintenance_Description" })
                                <span class="text-danger" id="Maintenance_Description-error"></span>
                            </div>

                            <div class="form-group">
                                <label>Estado <i class="fa fa-info-circle fa-1x" data-toggle="tooltip" data-placement="top" title="Selecciona el estado."></i></label>
                                @Html.DropDownListFor(m => m.IsActive, (IEnumerable<SelectListItem>)ViewBag.IsActiveOptions, new { @class = "form-control" })
                                <span class="text-danger"></span>
                            </div>




                            <div class="text-right">
                                <a href="@Url.Action("MaintenanceList", "Maintenance")" class="btn btn-secondary waves-effect m-l-5" data-toggle="tooltip" data-placement="top" title="Cancelar">Cancelar</a>
                                <button type="submit" class="btn btn-primary waves-light" data-toggle="tooltip" data-placement="top" title="Actualizar" id="updateButton">Actualizar Rol</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end row -->
</div> <!-- end container -->

@section scripts {
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    <!-- jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <!-- Parsley.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
    <!-- Archivo de validaciones -->
    <script src="~/Utilities/MaintenanceForm-Validation.js"></script>

    <script type="text/javascript">
     $(document).ready(function () {
         $('#MaintenanceForm').parsley();

         $("#MaintenanceForm").submit(function (event) {
             event.preventDefault();

             if ($(this).parsley().isValid()) {
                 $.ajax({
                     url: $(this).attr('action'),
                     type: $(this).attr('method'),
                     data: $(this).serialize(),
                     success: function (response) {
                         if (response.success) {
                             Swal.fire({
                                 title: 'Éxito',
                                 text: response.message,
                                 icon: 'success',
                                 confirmButtonText: 'Aceptar'
                             }).then((result) => {
                                 if (result.isConfirmed) {
                                     window.location.href = '@Url.Action("MaintenanceList", "Maintenance")';
                                 }
                             });
                         } else {
                             Swal.fire({
                                 title: 'Error',
                                 text: response.message,
                                 icon: 'error',
                                 confirmButtonText: 'Aceptar'
                             });
                         }
                     },
                     error: function (xhr, status, error) {
                         Swal.fire({
                             title: 'Error',
                             text: 'Error al actualizar.',
                             icon: 'error',
                             confirmButtonText: 'Aceptar'
                         });
                     }
                 });
             }
         });
     });
    </script>
}
